/* start of navigation bar commands*/

a {
    display: inline;
    width: 50px;
    color: brown;
    background-color: burlywood;
    text-decoration: none;
    text-align: center;
}


/* end of navigation bar commands*/